script(src="app/admin/app.js")
script(src="app/admin/run.js")
script(src="app/admin/config.js")
script(src="app/admin/route.js")

script(src="app/admin/service/interceptor.js")
script(src="app/admin/service/services.js")

script(src="app/admin/module/order/login.js")
script(src="app/admin/module/order/order.js")
script(src="app/admin/module/order/order_info.js")
script(src="app/admin/module/order/settings.js")

script(src="app/admin/module/user/logout.js")
script(src="app/admin/module/user/auth.js")
script(src="app/admin/module/user/notify.js")