script(src="app/checkout/app.js")
script(src="app/checkout/config.js")
script(src="app/checkout/route.js")
script(src="app/checkout/module/checkout.js")
script(src="app/checkout/module/notify.js")
script(src="app/checkout/service/restapi.js")
